.AudioUploader__progressBox {
    height: 48px;
    width: 100%;
    background-color: var(--input_background);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.AudioUploader__progressBar {
    background-color: var(--dynamic_blue);
    height: 100%;
    width: 0%;
    transition: 0.25s;
}
