.Posting__textarea {
    outline: none;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
}

.Posting__hud {
    width: 100%;
    height: 95px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.Posting {
    padding-bottom: 10px;
}
