.ImageUploader input {
    display: none;
}

.ImageUploader__label {
    background-color: var(--input_background);
    border: 1px solid var(--input_border);
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}