.Preview__snippet {
    display: flex;
    align-items: center;
    margin-top: 3px!important;
}

.Preview__snippet__cover {
    width: 72px;
    min-width: 72px;
    height: 72px;
    min-height: 72px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 14px;
}

.Preview__snippet__cover__icon {
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Preview__snippet__info__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 6px;
}

.Preview__snippet__info__group {
    margin-bottom: 6px;
    line-height: 14px;
    font-size: 12px;
}

.Preview__snippet__info__group a {
    color: var(--link_alternate);
    text-decoration: none;
}

.Preview__snippet__info__group a:hover {
    text-decoration: underline;
}

.Preview__snippet__info__duration {
    font-size: 12px;
    line-height: 14px;
    color: var(--header_text_secondary);
}

.Preview__sectionTitle {
    margin-bottom: 14px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.Preview__description p {
    font-size: 15px;
    line-height: 20px;
}


.TimecodeLine {
    display: flex;
    align-items: center;
    margin: 12px 0;
}

.timecodeDescrition {
    width: 60%;
    margin-right: 16px;
}

.timecodeTime {
    width: 30%;
    margin-right: 16px;
}

.Preview__timecodeLine {
    font-size: 16px;
    line-height: 20px;
    padding: 14px 0;
}

.Preview__timecodeLine a {
    text-decoration: none;
    color: var(--text_link)
}
